/* Poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #43AFFC;
}
.wrapper{
    width: 400px;
    border-radius: 7px;
    background: #fff;
    
}
.wrapper header{
    color: #43AFFC;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}
header i{
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}
/* input taking style section starts  */
.wrapper .input-part{
    display: none;
    margin: 20px 25px 30px;
}
.input-part .info-text{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.info-text.error{
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.info-text.pending{
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.input-part :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;

}
.input-part input{
    text-align: center;
    border: 1px solid #bfbfbf;
}
.input-part input:is(:focus,:valid){
    border: 2px solid #43AFFC;
}
.input-part .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}
.input-part button{
    color: #fff;
    cursor: pointer;
    background: #43AFFC;
}
/* input taking section styles ends  */